<nav class="navbar navbar-expand-lg  bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/lawyers">Find A LAWYER</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/askaquestion">ASK A QUESTION</a>
            </li>
        </ul>

        <a class="btn btn-danger" data-toggle="collapse" href="/addtodirectory" role="button" aria-expanded="false" aria-controls="collapseExample">
            I'm A Lawyer
        </a>
        <a class="btn btn-warning" data-toggle="collapse" href="/lawyers/register" role="button" aria-expanded="false" aria-controls="collapseExample">
            User Login
        </a>
    </div>
</nav>

<form class="clearfix mb-4" method="/askquestion" action="POST">
    <div class="form-group">
        <div class="form-group">
            <label for="example-description">UserName</label>
            <textarea class="form-control" id="Username" aria-describedby="example-description" placeholder="What Do You Specialize In?"></textarea>
        </div>
        <label>Question</label>
        <input type="text" id="Question" class="form-control" aria-describedby="example-text" placeholder="Ask your question ">
    </div>

    <input id="submit" type="submit" value="Submit" />
</form>

{{#each questions}}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">

                    <p>
                        <strong>Question by</strong>: {{this.Username}}</p>
                    <p>
                        <strong>Question</strong> {{this.Question}}</p>
                    <p>
                        <form action="POST">
                            <div class="form-group">
                                <strong>Answer</strong>:
                                <input data-id="{{this.id}}" type="num" id="Answer" class="form-control" aria-describedby="example-text" placeholder="00000">
                                <input id="submitAnswer" type="submit" value="Submit" />
                            </div>
                        </form>
                        <strong>Answer</strong>: {{this.Answer}}</p>
                    <p>
                        <strong>Time Posted</strong>: {{this.createdAt}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
{{/each}}

<script src="/js/questions.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>